# Commonly used Data Types in Python

### Numerical Data Types: int, float and complex

int

In [1]:
a = -10
type(a)

int

In [2]:
a = 4+6
print(a)
type(a)

10

int

float

In [3]:
a = 0.1011
type(a)

float

In [4]:
a = -12.234
type(a)

float

In [5]:
a = 3/7
print(a)
type(a)

0.42857142857142855

float

complex

In [6]:
a = 11j
type(a)

complex

a = 123 + 0j
print(a)
type(a)

In [7]:
a = 3 * 111.0123j
print(a)
type(a)

333.0369j

complex

str

### Text Data Types: str

In [8]:
a = "Hello World"
type(a)

str

In [9]:
# Find the length of a Variable:
a = "I love to play Guitar."
print(a)
len(a)

I love to play Guitar.

22

### Boolean Data Type: bool

In [10]:
a = True
print(a)
type(a)

True

bool

In [11]:
a= False
type(a)

bool

### Sequence based Data Ttypes: list,tuple and range

list

In [12]:
a = ["Red", "Blue", "Green"]
print(a)
type(a)

['Red', 'Blue', 'Green']

list

tuple

In [13]:
a = ("Red", "Blue", "Green")
print(a)
type(a)

('Red', 'Blue', 'Green')

tuple

range

In [14]:
a = range(10)
print(a)
type(a)

range(0, 10)

range

### Mapping based Data Type: dict

In [15]:
a = {"city" : "London", "Country" : "United Kingdom","Phone Code":"+44"}
print(a)
type(a)

{'city': 'London', 'Country': 'United Kingdom', 'Phone Code': '+44'}

dict

### Set based Data Types: set, frozenset

In [16]:
a = {"Red", "Blue", "Green"}
print(a)
type(a)

{'Red', 'Green', 'Blue'}

set

In [17]:
a = frozenset({"Red", "Blue", "Green"})
print(a)
type(a)

frozenset({'Red', 'Green', 'Blue'})

frozenset

None

In [18]:
a =  None
print(a)
type(a)

None

NoneType

### We can declare multiple variable in a single line too.

In [19]:
a,b,c,d, = "Hello",-123,33.52,[1,2,3]

print("Data Type of",a,"is ",type(a))

print("Data Type of",b,"is ",type(b))

print("Data Type of",c,"is ",type(c))

print("Data Type of",d,"is ",type(d))

Data Type of Hello is  <class 'str'>
Data Type of -123 is  <class 'int'>
Data Type of 33.52 is  <class 'float'>
Data Type of [1, 2, 3] is  <class 'list'>