# Set Data Type

A set is a collection which is unordered, unchangeable*, and unindexed.

In [14]:
data = {1,-11,0.44,"Science"}
print(data)
type(data)
# print(f"The data type of {list[0]} is {type(list[0])}")

{0.44, 1, -11, 'Science'}

set

In [16]:
new = {"Hello"}
print(new)
type(new)

{'Hello'}

set

In [20]:
new =set({"name":"city"})
print(new)
type(new)

{'name'}

set

Duplicate items not allowed.

In [22]:
newSet = {1,2,3,4,5,6,7,6,8,8,9,1,10}
print(newSet)
len(newSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10

In [25]:
newSet = {"Hello",1,2,33,33,}
print(newSet)

{1, 2, 33, 'Hello'}

Adding an item to set.

In [27]:
newSet.add("India")
print(newSet)

{1, 2, 33, 'Hello', 'India'}

Adding two sets.

In [28]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
# union() returs a new set.
x ={1,2,3}
y = {4,5,6}
z =x.union(y)
print(z)

{1, 2, 3, 4, 5, 6}

Removing an Item from set

In [31]:
# Remove() will cause an Error if item doesn't exist.

a.remove(3)
print(a)

{1, 4, 5, 6, 7, 8, 9, 10}

In [32]:
# discard()

a.discard(5)
print(a)

{1, 4, 6, 7, 8, 9, 10}

In [33]:
# clear()
a.clear()
print(a)

set()

In [39]:
# del keyword to delete a set.

x ={11,12,13}
del x
print(x)

NameError: name 'x' is not defined

Using intersection()

In [42]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

a = {1,2,3,4,5,6}
b = {3,4,5,6,7,8}
z = a.intersection(b)

print(z)

{3, 4, 5, 6}

Using intersection_update()

In [45]:
# The intersection_update() method will keep only the items that are present in both sets.

a = {1,2,3,4,5,6}
b = {3,4,5,6,7,8}

a.intersection_update(b)
print(a)

{3, 4, 5, 6}

Using symmetric_difference_update()

In [47]:
# symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

a.symmetric_difference_update(b)
print(a)

b.symmetric_difference_update(a)
print(b)

{3, 4, 5, 6}
{7, 8}

In [48]:
# Return a set that contains the items that only exist in set a, and not in set b.

a = {1,2,3,4,5,6}
b = {3,4,5,6,7,8}

a.difference(b)
print(a)

{1, 2, 3, 4, 5, 6}