# Tuple Data type

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
Subjects = tuple(("Science","Maths","English","Computer"))    
print(Subjects)
print(type(Subjects))

('Science', 'Maths', 'English', 'Computer')
<class 'tuple'>

In [2]:
Students = ("Alpha","Beta","Gamma")
print(Students)

('Alpha', 'Beta', 'Gamma')

Tuple containing diff Data Types.

In [3]:
#Tuples can contain different Datatypes.

tup_1 = ({"City":"London"},"Love is Life",-0.111,44+1j,["red","blue,green"],{1,2,3},False)
print(tup_1)

print(f"tup_1 contains:{tup_1[0]} and the data type is: {type(tup_1[0])}")
print(f"tup_1 contains:{tup_1[1]} and the data type is: {type(tup_1[1])}")
print(f"tup_1 contains:{tup_1[2]} and the data type is: {type(tup_1[2])}")
print(f"tup_1 contains:{tup_1[3]} and the data type is: {type(tup_1[3])}")
print(f"tup_1 contains:{tup_1[4]} and the data type is: {type(tup_1[4])}")
print(f"tup_1 contains:{tup_1[5]} and the data type is: {type(tup_1[5])}")
print(f"tup_1 contains:{tup_1[6]} and the data type is: {type(tup_1[6])}")

({'City': 'London'}, 'Love is Life', -0.111, (44+1j), ['red', 'blue,green'], {1, 2, 3}, False)
tup_1 contains:{'City': 'London'} and the data type is: <class 'dict'>
tup_1 contains:Love is Life and the data type is: <class 'str'>
tup_1 contains:-0.111 and the data type is: <class 'float'>
tup_1 contains:(44+1j) and the data type is: <class 'complex'>
tup_1 contains:['red', 'blue,green'] and the data type is: <class 'list'>
tup_1 contains:{1, 2, 3} and the data type is: <class 'set'>
tup_1 contains:False and the data type is: <class 'bool'>

Changing a tuple Value

In [7]:
# converting to List to update Tuple

new = list(tup_1)
print(new)
print(type(new))

[{'City': 'London'}, 'Love is Life', -0.111, (44+1j), ['red', 'blue,green'], {1, 2, 3}, False]
<class 'list'>

In [9]:
new.append(123)
new.append(-11)

In [10]:
print(new)

[{'City': 'London'}, 'Love is Life', -0.111, (44+1j), ['red', 'blue,green'], {1, 2, 3}, False, 123, 123, -11]

In [11]:
new.pop(-2)
print(new)

[{'City': 'London'}, 'Love is Life', -0.111, (44+1j), ['red', 'blue,green'], {1, 2, 3}, False, 123, -11]

In [12]:
tup_1 =tuple(new)
print(tup_1)

({'City': 'London'}, 'Love is Life', -0.111, (44+1j), ['red', 'blue,green'], {1, 2, 3}, False, 123, -11)

Using zip()

In [1]:
sName = ("Happy","Ash","Darsh")
sClass = ("Double Masters","Masters","Post-Graduate")
sResults = ("Grade-A++","Grade-A","Pass")

sDetails = zip(sName,sClass,sResults)
students =tuple(sDetails)

print(students[0])

('Happy', 'Double Masters', 'Grade-A++')